{{ block title }}
Zum Schluss haben wir noch ein paar Fragen zu Ihrer Person
{{ endblock }}

{{ block content }}
<hr>
<p>
    <i>Die Antworten auf die folgenden Fragen können ebenfalls als Grundlage für die Erstellung Ihres KI-generierten Profils dienen.
    Ihre Daten werden anonymisiert und vertraulich behandelt. </i>
</p>
<hr>

       {%  formfield player.name %}
       {%  formfield player.age %}
       {%  formfield player.gender %}
<hr>
       {%  formfield player.nationality %}

<hr>
       {%  formfield player.attention_check %}
       {%  formfield player.education_school %}
       {%  formfield player.education_uni %}

    <label for="occupation"> Was trifft überwiegend auf Sie zu?</label>
    <select onchange="yesnoCheck(this);" name="occupation" id="occ" class="form-control">
        <option selected value> --------- </option>
        <option  value="0">Schüler/in</option >
        <option  value="1">Student/in</option >
        <option  value="2">erwerbs- bzw. berufstätig (inkl. Auszubildende, Personen in Elternzeit oder Arbeitsteilzeit)</option>
        <option  value="3">Rentner/in, Pensionär/in</option >
        <option  value="4">Hausfrau/-mann</option >
        <option  value="5">arbeitslos</option >
        <option  value="6">Sonstiges</option >
    </select>
<br>
    <div style="display: none;" id="profession">
         {%  formfield player.profession %}
    </div>
    {%  formfield player.income %}
    <br>
    <p>Bitte geben Sie alle Geldanlagen an, die Sie aktuell besitzen oder in der Vergangenheit einmal besessen haben:</p>
    <label>
      <input type="checkbox" name="finpart" value="sparkonto" class="finpartclass">
      <span class="finpartoptions">Ein Sparkonto</span>
    </label><br>
    <label>
      <input type="checkbox" name="finpart" value="aktien" class="finpartclass">
      <span class="finpartoptions">Aktien (einzeln oder als ETFs/Fonds)</span>
    </label><br>
    <label>
      <input type="checkbox" name="finpart" value="anleihen" class="finpartclass">
      <span class="finpartoptions">Anleihen (einzeln oder als ETFs/Fonds)</span>
    </label><br>
    <label>
      <input type="checkbox" name="finpart" value="krypto" class="finpartclass">
      <span class="finpartoptions">Krypto</span>
    </label><br>


    <div style="display: none;" id="fieldofstudy">
        {%  formfield player.fieldofstudy %}
    </div>
<hr>
       {%  formfield player.party %}
       {%  formfield player.religion %}


<hr>

{%  formfield player.distract %}

<hr>
<p>Es wäre super, wenn Sie uns noch kurz Feedback zu unserer Umfrage geben könnten. Speziell:</p>

{%  formfield player.easy %}
{%  formfield player.understood %}
{%  formfield player.feedback %}
<br />
<br />

    {% next_button %}



    {{ formfield_errors 'occupation' }}
    {{ formfield_errors 'profession' }}
    {{ formfield_errors 'fieldofstudy' }}
    {{ formfield_errors 'income' }}
    {{ formfield_errors 'party' }}
    {{ formfield_errors 'religion' }}
    {{ formfield_errors 'age'}}
    {{ formfield_errors 'name'}}
    {{ formfield_errors 'education_school'}}
    {{ formfield_errors 'education_uni'}}
    {{ formfield_errors 'party'}}
    {{ formfield_errors 'age'}}
    {{ formfield_errors 'nationality'}}
    {{ formfield_errors 'distract'}}
    {{ formfield_errors 'easy'}}
    {{ formfield_errors 'understood'}}
    {{ formfield_errors 'feedback'}}

    <input type="hidden" name="selected_finpart" id="selected_finpart" value="">

    
{% endblock %}




{% block scripts %}
<script>
function yesnoCheck(that) {
    if (that.value == "1") {
        document.getElementById("fieldofstudy").style.display = "block";
        document.getElementById("profession").style.display = "none";
    }
    else if (that.value == "2") {
        document.getElementById("profession").style.display = "block";
        document.getElementById("fieldofstudy").style.display = "none";
    } else {
        document.getElementById("profession").style.display = "none";
        document.getElementById("fieldofstudy").style.display = "none";
    }
};

    document.addEventListener('DOMContentLoaded', (event) => {
        let hiddenField = document.getElementById('selected_finpart');
        
        function updateHiddenField() {
            const checkedCheckboxes = document.querySelectorAll('.finpartclass:checked');
            const selectedValues = Array.from(checkedCheckboxes).map(cb => cb.value);
            hiddenField.value = selectedValues.join(',');
            console.log(selectedValues);
            console.log('Hidden field updated:', hiddenField.value); // Debugging line
        }
    
    // Attach event listeners to checkboxes
    const checkboxes = document.querySelectorAll('.finpartclass');
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', updateHiddenField);
    });
  
        // Initialize the hidden field and button state
        updateHiddenField();

    });

    

</script>
{% endblock %}

{% block styles %}
<style>
.finpartclass {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.finpartoptions {
    position: relative;
      top: -5px; /* Adjust this value to control vertical shift */
      display: inline-block;
      margin-bottom: 8px;
    }
</style>
{% endblock %}