
{{ block title }}
<div class="welcome-container">
    <p>Herzlich Willkommen!</p>
    <div class="image-container">
        <img class="image left" src="{% static "global/jgu_logo.jpg" %}" alt="logo of University Mainz" width="100px" height="auto">
        <img class="image right" src="{% static "global/SAFE_logo.PNG" %}" alt="logo of SAFE" width="100px" height="auto" >
    </div>
</div>
{{ endblock %}

{{ block content }}

<hr>
<p><i>Bitte lesen Sie sich die folgenden Informationen sorgfältig durch.</i></p>
<hr>
<h5><u>Einführung</u></h5>
<p>
    Vielen Dank für Ihre Teilnahme an unserer Studie, die von der Johannes Gutenberg-Universität Mainz und dem SAFE Leibnitz Institut Frankfurt durchgeführt wird.
    Das Ziel dieser Studie ist es, Informationen für die Forschung über wirtschaftliche Entscheidungsfindung zu sammeln.
</p>
<h5><u>Datenschutz</u></h5>
<p>
    Bevor Sie beginnen, möchten wir Sie um Ihre Einwilligung zur Teilnahme bitten.
    Sie können Ihre Einwilligung jederzeit widerrufen, indem Sie diese Umfrage/dieses Tab schließen.
    Sobald Sie Ihre Einwilligung widerrufen haben, werden Ihre persönlichen Daten nicht mehr verwendet.
    Alle Ihre Daten sind anonym, sodass Ihre Antworten nicht mit Ihrer Person in Verbindung gebracht werden können.
    Die Universität Mainz und das SAFE Institut sind bestrebt, Ihre Privatsphäre zu schützen
<!--
    The University of Amsterdam has a privacy statement, which can be read
    <a href="https://www.uva.nl/en/home/disclaimers/privacy.html">here</a>.
-->
</p>
<p>
    Wenn Sie Fragen zu dieser Studie haben, zusätzliche Informationen wünschen oder Ihre Einwilligung widerrufen möchten, kontaktieren Sie bitte den Forscher über Prolific.
    Wenn Sie diese Informationen gelesen haben und sich entschieden haben, an diesem Projekt teilzunehmen, verstehen Sie bitte, dass Ihre Teilnahme freiwillig ist und Sie das Recht haben, die Teilnahme jederzeit ohne Strafe abzubrechen.
    In diesem Fall erhalten Sie keine Teilnahmegebühr.
    Ihre individuelle Privatsphäre wird in allen veröffentlichten und schriftlichen Daten, die aus der Studie resultieren, gewahrt.
</p>
<p>
    Alle Daten, die Sie in dieser Umfrage eingeben, werden anonym behandelt und ausschließlich für wissenschaftliche Forschungszwecke verwendet.
Weder der Forscher noch sonst jemand wird in der Lage sein, Sie anhand der Antworten, die Sie in dieser Umfrage geben, zu identifizieren.
Wenn Sie teilnehmen möchten, markieren Sie bitte das untenstehende Kästchen, um Ihre Entscheidung zur Teilnahme zu bestätigen und der Verwendung der Daten gemäß der obigen Beschreibung zuzustimmen.
</p>

<label for="consent"><b>Ich stimme der Teilnahme an dieser Studie zu:</b></label>
&nbsp;
<input type="checkbox" name="consent" id="consent">
{{ formfield_errors 'consent' }}

<hr>


    {% next_button %}

{% endblock %}


{% block styles %}
<style>
    .welcome-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .image-container {
        display: flex;
    }

    .image {
        display: inline-block;
    }

    .image.left {
        width: 300px; /* Width of left image */
    }
    .image.right {
        width: 100px; /* Width of right image */
        margin-left: 10px; /* Adjust margin as needed */
    }



    #consent:hover{
        cursor: pointer;
        }

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

    #trigger:hover{
        cursor: pointer;
        }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        }

    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
        }

    .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
        }

    @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
        }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
        }

    @media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
        }
    }
</style>
{% endblock %}

{% block scripts %}
<script>
// SCREENSHOT FOR sequence/MATH TEST
// Get the modal
var modal = document.getElementById("modal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var trigger = document.getElementById("trigger");
var modalImg = document.getElementById("img");
var captionText = document.getElementById("caption");
trigger.onclick = function(){
  modal.style.display = "block";
  captionText.innerHTML = modalImg.alt;
};

// Get the <span> element that closes the modal
var span = document.getElementById("close");

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
};

</script>

{% endblock %}