
{{ block title }}
<div class="welcome-container">
    Questions about investment behavior
{{ endblock }}

{{ block content }}
<p>
    We have asked all clients the following questions.
    Please answer these yourself to familiarize yourself with them.
    For each of the following 5 statements, please indicate how much you agree with them.
    For this, please click the corresponding number of boxes for each statement.
</p>

<div class="index-card-back">
    <div class="grid-row-back-headline">
        <div class="risksurvey_headline1">
            <div class="headline"><b>Statement</b></div>
        </div>
        <div class="risksurvey_headline2">
            <div class="headline"><b>Agreement</b></div>
      </div>
    </div>
    <div class="grid-row-back">
        <div class="icon-cell-back">
            <img src="{% static 'icons/capital.png' %}"  alt="Investment" class="icon-back"/>
        </div>
        <div class="text-cell-back">
            <!--<div class="text">Importance of preserving the investment capital</div>-->
            <div class="text">Preserving my investment capital is important to me.<br>
                <div id="q1_advisor_error" class="error-message"></div>
            </div>
        </div>        
        <div class="scale-cell-back">
            <div class="radio-group" id="q1">
                <div class="radio-buttons">
                <input type="radio" id="q1_radio1" name="q1_advisor"  value="1" onclick="updateButtons('q1', 1)">
                <label for="q1_radio1" data-tooltip="strongly disagree"></label>
                <input type="radio" id="q1_radio2" name="q1_advisor"  value="2" onclick="updateButtons('q1', 2)">
                <label for="q1_radio2" data-tooltip="disagree"></label>
                <input type="radio" id="q1_radio3" name="q1_advisor"  value="3" onclick="updateButtons('q1', 3)">
                <label for="q1_radio3" data-tooltip="agree"></label>
                <input type="radio" id="q1_radio4" name="q1_advisor"  value="4" onclick="updateButtons('q1', 4)">
                <label for="q1_radio4" data-tooltip="strongly agree"></label>
                <div id="q1_advisor_error" class="error-message"></div>
                </div>
        </div>
    </div>
    </div>
    <div class="grid-row-back">
        <div class="icon-cell-back">
            <img src="{% static 'icons/safe.webp' %}"  alt="Return" class="icon-back"/>
        </div>
        <div class="text-cell-back">
            <!--<div class="text">Importance of reliable returns vs. high return-risk profile</div>-->
            <div class="text">A reliable return is more important to me than taking risks to increase my yield.<br>
                <div id="q2_advisor_error" class="error-message"></div>
            </div>
        </div>
        <div class="scale-cell-back">
            <div class="radio-group" id="q2">
                <div class="radio-buttons">
                <input type="radio" id="q2_radio1" name="q2_advisor"  value="1" onclick="updateButtons('q2', 1)" >
                <label for="q2_radio1" data-tooltip="strongly disagree"></label>
                <input type="radio" id="q2_radio2" name="q2_advisor"  value="2" onclick="updateButtons('q2', 2)">
                <label for="q2_radio2"  data-tooltip="disagree"></label>
                <input type="radio" id="q2_radio3" name="q2_advisor"  value="3" onclick="updateButtons('q2', 3)">
                <label for="q2_radio3" data-tooltip="agree"></label>
                <input type="radio" id="q2_radio4" name="q2_advisor"  value="4" onclick="updateButtons('q2', 4)">
                <label for="q2_radio4" data-tooltip="strongly agree"></label>
                <div id="q2_advisor_error" class="error-message"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-row-back">
        <div class="icon-cell-back">
            <img src="{% static 'icons/loss.png' %}"  alt="Losses" class="icon-back"/>
        </div>
        <div class="text-cell-back">
            <!--<div class="text">Nervousness at the smallest losses</div>-->
            <div class="text">Even the smallest losses make me nervous.<br>
                <div id="q3_advisor_error" class="error-message"></div>
            </div>
        </div>
        <div class="scale-cell-back">
            <div class="radio-group" id="q3">
               <div class="radio-buttons">
                <input type="radio" id="q3_radio1" name="q3_advisor"  value="1" onclick="updateButtons('q3', 1)" >
                <label for="q3_radio1" data-tooltip="strongly disagree"></label>
                <input type="radio" id="q3_radio2" name="q3_advisor"  value="2" onclick="updateButtons('q3', 2)">
                <label for="q3_radio2" data-tooltip="disagree"></label>
                <input type="radio" id="q3_radio3" name="q3_advisor"  value="3" onclick="updateButtons('q3', 3)">
                <label for="q3_radio3" data-tooltip="agree"></label>
                <input type="radio" id="q3_radio4" name="q3_advisor"  value="4" onclick="updateButtons('q3', 4)">
                <label for="q3_radio4" data-tooltip="strongly agree"></label>
                <div id="q3_advisor_error" class="error-message"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-row-back">
        <div class="icon-cell-back">
            <img src="{% static 'icons/risk.png' %}"  alt="Risks" class="icon-back"/>
        </div>  
        <div class="text-cell-back">
            <!--<div class="text">Appeal of financial risks: Daring & Winning</div>-->
            <div class="text">Financial risks are appealing: Only those who dare greatly can also gain greatly.<br>
                <div id="q4_advisor_error" class="error-message"></div>

            </div>
        </div>
        <div class="scale-cell-back">
            <div class="radio-group" id="q4">
                <div class="radio-buttons">
                <input type="radio" id="q4_radio1" name="q4_advisor"  value="1" onclick="updateButtons('q4', 1)" >
                <label for="q4_radio1" data-tooltip="strongly disagree"></label>
                <input type="radio" id="q4_radio2" name="q4_advisor"  value="2" onclick="updateButtons('q4', 2)">
                <label for="q4_radio2" data-tooltip="disagree"></label>
                <input type="radio" id="q4_radio3" name="q4_advisor"  value="3" onclick="updateButtons('q4', 3)">
                <label for="q4_radio3" data-tooltip="agree"></label>
                <input type="radio" id="q4_radio4" name="q4_advisor"  value="4" onclick="updateButtons('q4', 4)">
                <label for="q4_radio4" data-tooltip="strongly agree"></label>
                <div id="q4_advisor_error" class="error-message"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-row-back">
        <div class="icon-cell-back">
            <img src="{% static 'icons/chance.jpg' %}"  alt="Chances" class="icon-back"/>
        </div>
        <div class="text-cell-back">
            <!--<div class="text">Accepting losses for the chance of high profits</div>-->
            <div class="text">I am willing to accept the loss of my assets if it means I also have the chance to increase my gains. <br>
                <div id="q5_advisor_error" class="error-message"></div>
            </div>
        </div>        
        <div class="scale-cell-back">
            <div class="radio-group" id="q5">
                <div class="radio-buttons">
                <input type="radio" id="q5_radio1" name="q5_advisor"  value="1" onclick="updateButtons('q5', 1)" >
                <label for="q5_radio1" data-tooltip="strongly disagree"></label>
                <input type="radio" id="q5_radio2" name="q5_advisor"  value="2" onclick="updateButtons('q5', 2)">
                <label for="q5_radio2" data-tooltip="disagree"></label>
                <input type="radio" id="q5_radio3" name="q5_advisor"  value="3" onclick="updateButtons('q5', 3)">
                <label for="q5_radio3" data-tooltip="agree"></label>
                <input type="radio" id="q5_radio4" name="q5_advisor"  value="4"  onclick="updateButtons('q5', 4)">
                <label for="q5_radio4" data-tooltip="strongly agree"></label>
                </div>
            </div>
        </div>
    </div>
</div>



    <br>
    <p>
        On the next page, you can familiarize yourself with the interactive risk tool that we used to measure the individuals’ risk preferences.
    </p>
</div>
{{ formfield_errors 'q1_advisor' }}
{{ formfield_errors 'q2_advisor' }}
{{ formfield_errors 'q3_advisor' }}
{{ formfield_errors 'q4_advisor' }}
{{ formfield_errors 'q5_advisor' }}

<br>

    <div class="hidden" id="next-button">
        {% next_button %}
    </div>

{% endblock %}

{% block styles %}
<style>
.hidden {
    display: none;
}

.error-message {
  color: red;
  font-size: 0.9em;
}

.icon-back {
    width: 40%;
    height: auto;
    margin-bottom: 5px; /* Adjust spacing between icon and text */
}

.text {
    margin-top: -5px;
    font-size: 20px;
    vertical-align: top;
}

.grid-row-back-headline {
    display: flex;
    align-items: center;
    padding-top:2%;
}

.headline {
    margin-top: -20px;
    margin-bottom: -20px;
    font-size: 20px;
    vertical-align: top;
}

.index-card-back {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    width: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-row-back {
    display: flex;
    align-items: center;
}

.intro{
    width: 80%;
    display: flex;
    align-items: center;
}

.icon-cell-back {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-cell-back {
    width: 50%;
    display: flex;
    align-items: center;
}

.scale-cell-back {
    width: 30%;
    display: flex;
    justify-content: center;
    position: relative; /* Ensure the tooltip is positioned relative to this container */
}

.info-icon {
    width: 10px; /* Adjust size as needed */
    height: 10px; /* Adjust size as needed */
    margin-left: 5px;
    margin-bottom: 5px; /* Adjust to position the icon slightly higher */
    cursor: pointer;
}

.risksurvey_headline1 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.risksurvey_headline2 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-buttons {
    display: flex;
    gap: 10px;
}

.radio-buttons input[type="radio"] {
    display: none;
}

.radio-buttons label {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.radio-buttons label.black {
    background-color: black;
}

.radio-buttons label::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s;
}

.radio-buttons label:hover::after {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

</style>
{% endblock %}


{% block scripts %}
<script>
function updateButtons(groupId, selectedIndex) {
    const labels = document.querySelectorAll(`#${groupId} .radio-buttons label`);
    labels.forEach((label, index) => {
        if (index < selectedIndex) {
            label.classList.add('black');
        } else {
            label.classList.remove('black');
        }
    });
}


const questions = ['q1_advisor', 'q2_advisor', 'q3_advisor', 'q4_advisor', 'q5_advisor'];
const nextButton = document.getElementById('next-button');

// Check if all questions have answers selected
function checkCompletion() {
  const allAnswered = questions.every(question => {
    return document.querySelector(`input[name='${question}']:checked`);
  });

  if (allAnswered) {
    nextButton.classList.remove('hidden');
  } else {
    nextButton.classList.add('hidden');
  }
}

// Attach change event listeners to all radio buttons
questions.forEach(question => {
  const radios = document.querySelectorAll(`input[name='${question}']`);
  radios.forEach(radio => {
    radio.addEventListener('change', checkCompletion);
  });
});



</script>
{% endblock %}
