{{ block title }}
Fast geschafft!
{{ endblock }}

{{ block content }}

       {%  formfield player.age %}
       {%  formfield player.gender %}
<hr>
       {%  formfield player.nationality %}

<hr>
<label for="attention_check">Es ist wichtig für uns, dass sie aufmerksam sind. Bitte klicken Sie in der nachfolgenden Liste auf die zweite Option von oben.</label>
<br>
<br>
<table style="width:80%">
    <tr>
        <td style="width:5%"><input type="radio" class="radiobutton" name="attention_check" value="false" style="cursor: pointer;  transform: scale(1.3); margin: 5px;"></td>
        <td style="width:95%">blau</td>
    </tr>
    <tr>
        <td style="width:5%"><input type="radio" class="radiobutton" name="attention_check" value="true" style="cursor: pointer; transform: scale(1.3); margin: 5px;"></td>
        <td style="width:95%">orange</td>
    </tr>
    <tr>
        <td style="width:5%"><input type="radio" class="radiobutton" name="attention_check" value="false" style="cursor: pointer; transform: scale(1.3); margin: 5px;"></td>
        <td style="width:95%">rot</td>
    </tr>
    <tr>
        <td style="width:5%"><input type="radio" class="radiobutton" name="attention_check" value="false" style="cursor: pointer; transform: scale(1.3); margin: 5px;"></td>
        <td style="width:95%">gelb</td>
    </tr>
    <tr>
        <td style="width:5%"><input type="radio" class="radiobutton" name="attention_check" value="false" style="cursor: pointer; transform: scale(1.3); margin: 5px;"></td>
        <td style="width:95%">grün</td>
    </tr>
    <tr>
        <td style="width:5%"><input type="radio" class="radiobutton" name="attention_check" value="false" style="cursor: pointer; transform: scale(1.3); margin: 5px;"></td>
        <td style="width:95%">schwarz</td>
    </tr>
</table>
<br> 

    {%  formfield player.education_school %}
    {%  formfield player.education_uni %}

    <label for="occupation"> Was trifft überwiegend auf Sie zu?</label>
    <select onchange="yesnoCheck(this);" name="occupation" id="occ" class="form-control">
        <option selected value> --------- </option>
        <option  value="0">Schüler/in</option >
        <option  value="1">Student/in</option >
        <option  value="2">erwerbs- bzw. berufstätig (inkl. Auszubildende, Personen in Elternzeit oder Arbeitsteilzeit)</option>
        <option  value="3">Rentner/in, Pensionär/in</option >
        <option  value="4">Hausfrau/-mann</option >
        <option  value="5">arbeitslos</option >
        <option  value="6">Sonstiges</option >
    </select>
<br>
    <div style="display: none;" id="profession">
         {%  formfield player.profession %}
    </div>
    {%  formfield player.income %}

    <br>
    <p>Bitte geben Sie alle Geldanlagen an, die Sie aktuell besitzen oder in der Vergangenheit einmal besessen haben:</p>
    <label>
      <input type="checkbox" name="finpart" value="sparkonto" class="finpartclass">
      <span class="finpartoptions">Ein Sparkonto</span>
    </label><br>
    <label>
      <input type="checkbox" name="finpart" value="aktien" class="finpartclass">
      <span class="finpartoptions">Aktien (einzeln oder als ETFs/Fonds)</span>
    </label><br>
    <label>
      <input type="checkbox" name="finpart" value="anleihen" class="finpartclass">
      <span class="finpartoptions">Anleihen (einzeln oder als ETFs/Fonds)</span>
    </label><br>
    <label>
      <input type="checkbox" name="finpart" value="krypto" class="finpartclass">
      <span class="finpartoptions">Krypto</span>
    </label><br>



    <div style="display: none;" id="fieldofstudy">
        {%  formfield player.fieldofstudy %}
    </div>
<hr>
       {%  formfield player.party %}
       {%  formfield player.religion %}
       <hr>

       {%  formfield player.distract %}
       <br />

       <button id="next-button" class="nxt">Weiter</button>

    <input type="hidden" name="selected_finpart" id="selected_finpart" value="">

    


{% endblock %}

{% block scripts %}
{{ form.occupation.errors }}

<script>
function yesnoCheck(that) {
    if (that.value == "1") {
        document.getElementById("fieldofstudy").style.display = "block";
        document.getElementById("profession").style.display = "none";
    }
    else if (that.value == "2") {
        document.getElementById("profession").style.display = "block";
        document.getElementById("fieldofstudy").style.display = "none";
    } else {
        document.getElementById("profession").style.display = "none";
        document.getElementById("fieldofstudy").style.display = "none";
    }
};


document.addEventListener('DOMContentLoaded', (event) => {
        let hiddenField = document.getElementById('selected_finpart');
        
        function updateHiddenField() {
            const checkedCheckboxes = document.querySelectorAll('.finpartclass:checked');
            const selectedValues = Array.from(checkedCheckboxes).map(cb => cb.value);
            hiddenField.value = selectedValues.join(',');
            console.log(selectedValues);
            console.log('Hidden field updated:', hiddenField.value); // Debugging line
        }
    
    // Attach event listeners to checkboxes
    const checkboxes = document.querySelectorAll('.finpartclass');
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', updateHiddenField);
    });
  
        // Initialize the hidden field and button state
        updateHiddenField();

    });



    let bilendi_id = js_vars.bilendi_id;

    document.getElementById("next-button").addEventListener("click", function(event) {
        event.preventDefault();  // Stop the form from submitting immediately

        var selected = document.querySelector('input[name="attention_check"]:checked');
        console.log(selected);
        console.log(selected.value);
        if (selected && selected.value === "false") {
            window.location.href = "https://survey.maximiles.com/screenout?p=147417_db7ec15f&m=" + bilendi_id;
        } else {
            // Let oTree submit the form if value is not 0
            document.querySelector('form').submit();
        }
    });
</script>
{% endblock %}


{% block styles %}
<style>
.finpartclass {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.finpartoptions {
    position: relative;
      top: -5px; /* Adjust this value to control vertical shift */
      display: inline-block;
      margin-bottom: 8px;
    }


    .nxt{
        background-color: #0B60DB;
        border: none;
        border-radius: 7px;
        color: white;
        padding: 7px 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}


