{% block title %}
        <b>Vielen Dank für Ihre Teilnahme!</b>
{% endblock %}

{% block content %}
    <p>
        <b>Wichtig:</b> Bitte klicken Sie "<b id="link" class="link">hier</b>" um die Umfrage zu beenden.
    </p>


    
{% endblock %}

{% block scripts %}


<script>
    let bilendi_id = js_vars.bilendi_id;

    document.getElementById("link").onclick = function() {
        const url = "https://survey.maximiles.com/screenout?p=147417_db7ec15f&m=" + bilendi_id;
        window.location.href = url;
    };
</script>

{% endblock %}

{% block styles %}


<style>
    .link {
        color: #0B60DB;
        text-decoration: underline;
        cursor: pointer;
    }
</style>

{% endblock %}  
