
{{ block title }}
<div class="welcome-container">
    Fragen zum Anlageverhalten
{{ endblock }}

{{ block content }}
<p>
    Wir haben allen Kundinnen und Kunden folgende Fragen gestellt und bitte Sie einmal dieselben zu beantworten um sich mit diesen vertraut zu machen.
</p>
<hr>
<div style=" background-color:  rgb(255, 255, 255);">
<table style="width:100%">
    <tr style="width:100%; position: sticky; top: 0; border-bottom: none; background-color:  rgb(255, 255, 255);">
        <td ><b>Der Erhalt meiner Kapitalanlage ist mir wichtig. Ich stimme ... </b></td>
    </tr>
</table>
<table style="width:100%;   background-color:rgb(247, 197, 197);">
    <tr>
        <td  style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom;background-color: rgb(255, 255, 255)">
            <input type="radio"  name="q1_advisor"  required value="1" > 
        </td>
        <td  style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom; background-color:  rgb(255, 255, 255);">
            <input type="radio"  name="q1_advisor" value="2" >
        </td>
        <td style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom;background-color: rgb(255, 255, 255)">
            <input type="radio"  name="q1_advisor" value="3" >
        </td>
        <td style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom;background-color:  rgb(255, 255, 255);">
            <input type="radio"  name="q1_advisor" value="4" >
        </td>
    </tr> 
    <tr style="position: sticky; top: 0; border-bottom: none;">
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255) ">gar nicht zu</td>
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color:  rgb(255, 255, 255); ">eher nicht zu</td>
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255)">eher zu</td>
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color:  rgb(255, 255, 255);">voll und ganz zu</td>
    </tr>
    </table>
<br>

<table style="width:100%">
    <tr style="width:100%; position: sticky; top: 0; border-bottom: none; background-color: rgb(255, 255, 255);">
        <td ><b>Mir ist eine zuverlässige Rendite wichtiger als Risiken einzugehen, um meinen Ertrag zu erhöhen. Ich stimme ... </b></td>
    </tr>
</table>
<table style="width:100%">
    <tr>
        <td  style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255)">
            <input type="radio"  name="q2_advisor"  required  value="1" >
        </td>
        <td  style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom;background-color:  rgb(255, 255, 255);">
            <input type="radio"  name="q2_advisor" value="2"  >
        </td>
        <td  style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255)">
            <input type="radio"  name="q2_advisor" value="3" >
        </td>
        <td  style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom;background-color:  rgb(255, 255, 255);">
            <input type="radio"  name="q2_advisor" value="4" >
        </td>
    </tr> 
    <tr style="position: sticky; top: 0; border-bottom: none; ">
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255)">gar nicht zu</td>
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color:  rgb(255, 255, 255);">eher nicht zu</td>
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255)">eher zu</td>
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color:  rgb(255, 255, 255);">voll und ganz zu</td>
    </tr>
    </table>
<br>

<table style="width:100%">
    <tr style="width:100%; position: sticky; top: 0; border-bottom: none;background-color:  rgb(255, 255, 255);">
        <td ><b>Selbst kleinste Verluste machen mich bereits nervös. Ich stimme ... </b></td>
    </tr>
</table>
<table style="width:100%">
    <tr>
        <td  style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255)">
            <input type="radio"  name="q3_advisor"  required value="1" >
        </td>
        <td  style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom;background-color:  rgb(255, 255, 255);">
            <input type="radio"  name="q3_advisor" value="2" >
        </td>
        <td  style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255)">
            <input type="radio"  name="q3_advisor" value="3" >
        </td>
        <td  style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom;background-color:  rgb(255, 255, 255);">
            <input type="radio"  name="q3_advisor" value="4" > 
        </td>
    </tr> 
    <tr style="position: sticky; top: 0; border-bottom: none">
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255)">gar nicht zu</td>
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color:  rgb(255, 255, 255);">eher nicht zu</td>
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255)">eher zu</td>
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color:  rgb(255, 255, 255);">voll und ganz zu</td>
    </tr>
    </table>
<br>

<table style="width:100%">
    <tr style="width:100%; position: sticky; top: 0; border-bottom: none;background-color:  rgb(255, 255, 255);">
        <td ><b>Finanzielle Risiken sind reizvoll: Nur wer viel wagt kann auch viel gewinnen. Ich stimme ... </b></td>
    </tr>
</table>
<table style="width:100%">
    <tr>
        <td style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255)">
            <input type="radio"  name="q4_advisor"  required  value="1" >
        </td>
        <td  style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom;background-color:  rgb(255, 255, 255);">
            <input type="radio"  name="q4_advisor" value="2" >
        </td>
        <td  style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255)">
            <input type="radio"  name="q4_advisor" value="3" >
        </td>
        <td  style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom;background-color:  rgb(255, 255, 255);">
            <input type="radio"  name="q4_advisor" value="4" >
        </td>
    </tr> 
    <tr style="position: sticky; top: 0; border-bottom: none">
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255)">gar nicht zu</td>
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color:  rgb(255, 255, 255);">eher nicht zu</td>
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255)">eher zu</td>
            <td style="width:25%; text-align:center; vertical-align:bottom;background-color:  rgb(255, 255, 255); ">voll und ganz zu</td>
    </tr>
    </table>
<br>

<table style="width:100%">
    <tr style="width:100%; position: sticky; top: 0;background-color:  rgb(255, 255, 255);">
        <td ><b>Ich nehme den Verlust meines Vermögens in Kauf wenn ich gleichzeitig die Chance habe, meine Gewinne zu erhöhen. Ich stimme ... </b></td>
    </tr>
</table>
<table style="width:100%">
    <tr>
        <td style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255)">
            <input type="radio"  name="q5_advisor"  required value="1" >
        </td>
        <td style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom;background-color:  rgb(255, 255, 255);">
            <input type="radio"  name="q5_advisor" value="2" >
        </td>
        <td style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255);">
            <input type="radio"  name="q5_advisor" value="3"  >
        </td>
        <td  style="cursor: pointer; width:25%; text-align:center; vertical-align:bottom;background-color:  rgb(255, 255, 255);">
            <input type="radio"  name="q5_advisor" value="4" >
        </td>
    </tr> 
    <tr style="position: sticky; top: 0">
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255)">gar nicht zu</td>
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color:  rgb(255, 255, 255);">eher nicht zu</td>
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color: rgb(255, 255, 255)">eher zu</td>
            <td style="width:25%; text-align:center; vertical-align:bottom; background-color:  rgb(255, 255, 255);">voll und ganz zu</td>
    </tr>
    </table>
    <hr>
    <br>
    <p>
        Auf der nächsten Seite sehen Sie ein Beispielprofil einer Kundin oder eines Kunden. 
        Dort können Sie sich mit den bereitgestellten Informationen, sowie mit Ihrer Aufgabe näher vertraut machen.
    </p>
</div>
{{ formfield_errors 'q1_advisor' }}
{{ formfield_errors 'q2_advisor' }}
{{ formfield_errors 'q3_advisor' }}
{{ formfield_errors 'q4_advisor' }}
{{ formfield_errors 'q5_advisor' }}


    {% next_button %}

{% endblock %}

{% block styles %}
{% endblock %}


{% block scripts %}
<script>

$("[type=radio]").each(function() {
    if (!$(this).parents('.nocellbutton').length) {
        $(this).parent().on("click", function () {
            console.log('clicked')
            $(this).children().prop('checked',true).change()
        })
    }
});

</script>
{% endblock %}
