
{{ block title }}
<div class="welcome-container">
    Fragen zum Anlageverhalten
{{ endblock }}

{{ block content }}
<p>
    Wir haben allen Kundinnen und Kunden folgende Fragen gestellt.
    Bitte beantworten Sie diese selbst, um sich vertraut zu machen.
    Geben Sie dazu zu jeder der folgenden 5 Aussagen an, wie sehr sie ihr zustimmen.
    Klicken Sie dafür jeweils die entsprechende Anzahl an Boxen an.
</p>

<div class="index-card-back">
    <div class="grid-row-back-headline">
        <div class="risksurvey_headline1">
            <div class="headline"><b>Aussage</b></div>
        </div>
        <div class="risksurvey_headline2">
            <div class="headline"><b>Zustimmung</b></div>
      </div>
    </div>
    <div class="grid-row-back">
        <div class="icon-cell-back">
            <img src="{% static 'icons/capital.png' %}"  alt="Kapitalanlage" class="icon-back"/>
        </div>
        <div class="text-cell-back">
            <!--<div class="text">Bedeutung des Erhalts der Kapitalanlage</div>-->
            <div class="text">Der Erhalt meiner Kapitalanlage ist mir wichtig.<br>
                <div id="q1_advisor_error" class="error-message"></div>
            </div>
        </div>        
        <div class="scale-cell-back">
            <div class="radio-group" id="q1">
                <div class="radio-buttons">
                <input type="radio" id="q1_radio1" name="q1_advisor"  value="1" onclick="updateButtons('q1', 1)">
                <label for="q1_radio1" data-tooltip="stimme gar nicht zu"></label>
                <input type="radio" id="q1_radio2" name="q1_advisor"  value="2" onclick="updateButtons('q1', 2)">
                <label for="q1_radio2" data-tooltip="stimme eher nicht zu"></label>
                <input type="radio" id="q1_radio3" name="q1_advisor"  value="3" onclick="updateButtons('q1', 3)">
                <label for="q1_radio3" data-tooltip="stimme eher zu"></label>
                <input type="radio" id="q1_radio4" name="q1_advisor"  value="4" onclick="updateButtons('q1', 4)">
                <label for="q1_radio4" data-tooltip="stimme voll und ganz zu"></label>
                <div id="q1_advisor_error" class="error-message"></div>
                </div>
        </div>
    </div>
    </div>
    <div class="grid-row-back">
        <div class="icon-cell-back">
            <img src="{% static 'icons/safe.webp' %}"  alt="Rendite" class="icon-back"/>
        </div>
        <div class="text-cell-back">
            <!--<div class="text">Bedeutung von zuverlässiger Rendite vs. hohes Rendite-Risiko Profil</div>-->
            <div class="text">Mir ist eine zuverlässige Rendite wichtiger als Risiken einzugehen, um meinen Ertrag zu erhöhen.<br>
                <div id="q2_advisor_error" class="error-message"></div>
            </div>
        </div>
        <div class="scale-cell-back">
            <div class="radio-group" id="q2">
                <div class="radio-buttons">
                <input type="radio" id="q2_radio1" name="q2_advisor"  value="1" onclick="updateButtons('q2', 1)" >
                <label for="q2_radio1" data-tooltip="stimme gar nicht zu"></label>
                <input type="radio" id="q2_radio2" name="q2_advisor"  value="2" onclick="updateButtons('q2', 2)">
                <label for="q2_radio2"  data-tooltip="stimme eher nicht zu"></label>
                <input type="radio" id="q2_radio3" name="q2_advisor"  value="3" onclick="updateButtons('q2', 3)">
                <label for="q2_radio3" data-tooltip="stimme eher zu"></label>
                <input type="radio" id="q2_radio4" name="q2_advisor"  value="4" onclick="updateButtons('q2', 4)">
                <label for="q2_radio4" data-tooltip="stimme voll und ganz zu"></label>
                <div id="q2_advisor_error" class="error-message"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-row-back">
        <div class="icon-cell-back">
            <img src="{% static 'icons/loss.png' %}"  alt="Verluste" class="icon-back"/>
        </div>
        <div class="text-cell-back">
            <!--<div class="text">Nervosität bei kleinsten Verlusten</div>-->
            <div class="text">Selbst kleinste Verluste machen mich bereits nervös.<br>
                <div id="q3_advisor_error" class="error-message"></div>
            </div>
        </div>
        <div class="scale-cell-back">
            <div class="radio-group" id="q3">
               <div class="radio-buttons">
                <input type="radio" id="q3_radio1" name="q3_advisor"  value="1" onclick="updateButtons('q3', 1)" >
                <label for="q3_radio1" data-tooltip="stimme gar nicht zu"></label>
                <input type="radio" id="q3_radio2" name="q3_advisor"  value="2" onclick="updateButtons('q3', 2)">
                <label for="q3_radio2" data-tooltip="stimme eher nicht zu"></label>
                <input type="radio" id="q3_radio3" name="q3_advisor"  value="3" onclick="updateButtons('q3', 3)">
                <label for="q3_radio3" data-tooltip="stimme eher zu"></label>
                <input type="radio" id="q3_radio4" name="q3_advisor"  value="4" onclick="updateButtons('q3', 4)">
                <label for="q3_radio4" data-tooltip="stimme voll und ganz zu"></label>
                <div id="q3_advisor_error" class="error-message"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-row-back">
        <div class="icon-cell-back">
            <img src="{% static 'icons/risk.png' %}"  alt="Risiken" class="icon-back"/>
        </div>  
        <div class="text-cell-back">
            <!--<div class="text">Reiz finanzieller Risiken: Wagen & Gewinnen</div>-->
            <div class="text">Finanzielle Risiken sind reizvoll: Nur wer viel wagt kann auch viel gewinnen.<br>
                <div id="q4_advisor_error" class="error-message"></div>

            </div>
        </div>
        <div class="scale-cell-back">
            <div class="radio-group" id="q4">
                <div class="radio-buttons">
                <input type="radio" id="q4_radio1" name="q4_advisor"  value="1" onclick="updateButtons('q4', 1)" >
                <label for="q4_radio1" data-tooltip="stimme gar nicht zu"></label>
                <input type="radio" id="q4_radio2" name="q4_advisor"  value="2" onclick="updateButtons('q4', 2)">
                <label for="q4_radio2" data-tooltip="stimme eher nicht zu"></label>
                <input type="radio" id="q4_radio3" name="q4_advisor"  value="3" onclick="updateButtons('q4', 3)">
                <label for="q4_radio3" data-tooltip="stimme eher zu"></label>
                <input type="radio" id="q4_radio4" name="q4_advisor"  value="4" onclick="updateButtons('q4', 4)">
                <label for="q4_radio4" data-tooltip="stimme voll und ganz zu"></label>
                <div id="q4_advisor_error" class="error-message"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-row-back">
        <div class="icon-cell-back">
            <img src="{% static 'icons/chance.jpg' %}"  alt="Chance" class="icon-back"/>
        </div>
        <div class="text-cell-back">
            <!--<div class="text">Verluste in Kauf nehmen für hohe Gewinnchancen</div>-->
            <div class="text">Ich nehme den Verlust meines Vermögens in Kauf wenn ich gleichzeitig die Chance habe, meine Gewinne zu erhöhen. <br>
                <div id="q5_advisor_error" class="error-message"></div>
            </div>
        </div>        
        <div class="scale-cell-back">
            <div class="radio-group" id="q5">
                <div class="radio-buttons">
                <input type="radio" id="q5_radio1" name="q5_advisor"  value="1" onclick="updateButtons('q5', 1)" >
                <label for="q5_radio1" data-tooltip="stimme gar nicht zu"></label>
                <input type="radio" id="q5_radio2" name="q5_advisor"  value="2" onclick="updateButtons('q5', 2)">
                <label for="q5_radio2" data-tooltip="stimme eher nicht zu"></label>
                <input type="radio" id="q5_radio3" name="q5_advisor"  value="3" onclick="updateButtons('q5', 3)">
                <label for="q5_radio3" data-tooltip="stimme eher zu"></label>
                <input type="radio" id="q5_radio4" name="q5_advisor"  value="4"  onclick="updateButtons('q5', 4)">
                <label for="q5_radio4" data-tooltip="stimme voll und ganz zu"></label>
                </div>
            </div>
        </div>
    </div>
</div>



    <br>
    <p>
        Auf der nächsten Seite können Sie sich mit dem interaktiven Risiko-Tool vertraut machen, anhand dessen wir die Risikoneigung der Personen gemessen haben. 
    </p>
</div>
{{ formfield_errors 'q1_advisor' }}
{{ formfield_errors 'q2_advisor' }}
{{ formfield_errors 'q3_advisor' }}
{{ formfield_errors 'q4_advisor' }}
{{ formfield_errors 'q5_advisor' }}

<br>

    <div class="hidden" id="next-button">
        {% next_button %}
    </div>

{% endblock %}

{% block styles %}
<style>
.hidden {
    display: none;
}

.error-message {
  color: red;
  font-size: 0.9em;
}

.icon-back {
    width: 40%;
    height: auto;
    margin-bottom: 5px; /* Adjust spacing between icon and text */
}

.text {
    margin-top: -5px;
    font-size: 20px;
    vertical-align: top;
}

.grid-row-back-headline {
    display: flex;
    align-items: center;
    padding-top:2%;
}

.headline {
    margin-top: -20px;
    margin-bottom: -20px;
    font-size: 20px;
    vertical-align: top;
}

.index-card-back {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    width: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-row-back {
    display: flex;
    align-items: center;
}

.intro{
    width: 80%;
    display: flex;
    align-items: center;
}

.icon-cell-back {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-cell-back {
    width: 50%;
    display: flex;
    align-items: center;
}

.scale-cell-back {
    width: 30%;
    display: flex;
    justify-content: center;
    position: relative; /* Ensure the tooltip is positioned relative to this container */
}

.info-icon {
    width: 10px; /* Adjust size as needed */
    height: 10px; /* Adjust size as needed */
    margin-left: 5px;
    margin-bottom: 5px; /* Adjust to position the icon slightly higher */
    cursor: pointer;
}

.risksurvey_headline1 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.risksurvey_headline2 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-buttons {
    display: flex;
    gap: 10px;
}

.radio-buttons input[type="radio"] {
    display: none;
}

.radio-buttons label {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.radio-buttons label.black {
    background-color: black;
}

.radio-buttons label::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s;
}

.radio-buttons label:hover::after {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

</style>
{% endblock %}


{% block scripts %}
<script>
function updateButtons(groupId, selectedIndex) {
    const labels = document.querySelectorAll(`#${groupId} .radio-buttons label`);
    labels.forEach((label, index) => {
        if (index < selectedIndex) {
            label.classList.add('black');
        } else {
            label.classList.remove('black');
        }
    });
}


const questions = ['q1_advisor', 'q2_advisor', 'q3_advisor', 'q4_advisor', 'q5_advisor'];
const nextButton = document.getElementById('next-button');

// Check if all questions have answers selected
function checkCompletion() {
  const allAnswered = questions.every(question => {
    return document.querySelector(`input[name='${question}']:checked`);
  });

  if (allAnswered) {
    nextButton.classList.remove('hidden');
  } else {
    nextButton.classList.add('hidden');
  }
}

// Attach change event listeners to all radio buttons
questions.forEach(question => {
  const radios = document.querySelectorAll(`input[name='${question}']`);
  radios.forEach(radio => {
    radio.addEventListener('change', checkCompletion);
  });
});



</script>
{% endblock %}
